$leftBarColor: #0f004a;
$leftBarBtnColor: #0b0038;
$leftBarDropDownColor: #1c008d;
$leftBarBtnColorHover: #433489;
$leftBarDropDownColorHover: #433489;
$lightTextColor: #ffffff;
$darkTextColor: #000000;
$mainContentBackgroundColor: #ffffff;
$galleryCardBtnColor: #cb7cff;
$scrollBarBackgroundColor:#680071;
$scrollBarColor:#5c8be9;
$darkColor:#0f004a;
$lightColor:#ffffff;
$timeLineColor:#bbbbbb;
$timeLineTimeColor:#ffffff;
$timeLineNameColor:#bbbbbb;
$timeLineCircleColor:#aa2cff;