@use "colors" as *;

.timeLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
    }
    .mainLine {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 2px;
        height: fit-content;
        background-color: $timeLineColor;
        .timeLineItem {
            display: flex;
            flex-direction: row;
            min-width: 100px;
            width: calc(100vw - 400px);
            max-width: 1000px;
            align-items: center;
            justify-content: space-around;
            margin: 10px 0;

            .timeLineCircle {
                width: 20px;
                height: 20px;
                border-radius: 100px;
                background-color: $timeLineCircleColor;
                border: 2px $timeLineColor solid;
            }
            .timeLineChart {
                min-width: 50px;
                width: 20vw;
                max-width: 500px;
                height: fit-content;
                background-color: $timeLineNameColor;
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                border: 2px $timeLineColor solid;   
                .time {
                    background-color: $timeLineTimeColor;
                    text-align: center;
                    padding: 10px 0px;
                    font-size: 25px;
                }
                .name {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    margin-left: 20px;
                    padding: 20px 0px;
                }
            }
            .timeLineChartEmpty {
                min-width: 50px;
                width: 20vw;
                max-width: 500px;
                border: 2px #00000000 solid;   
            }
        }
    }
}
